<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Add an Assignment</title>
	</head>
	<body>
		<div id="container">
			<h1>Add an Assignment</h1>
			<form action="/added/add-confirmation" method="post">
				<p>
					<label for="name"><span class="bold">Assignment Name:
						</span></label>
					<input
						name="name"
						id="name"
						type="text"
						placeholder="Assignment Name"
					/>
				</p>
				<p>
					<label for="score"><span class="bold">Your Score: </span></label>
					<input
						name="score"
						id="score"
						type="number"
						min="0"
						placeholder="0"
					/>
				</p>
				<p>
					<label for="possible"><span class="bold">Total Possible Score:
						</span></label>
					<input
						name="possible"
						id="possible"
						type="number"
						min="0"
						placeholder="0"
					/>
				</p>
				<p>
					<input name="completed" id="completed" type="checkbox" />
					<label for="completed">
						<span class="bold">Have you completed this assignment?</span>
					</label>
				</p>
				<p>
					<input type="submit" value="Add" />
					<a href="/">Nevermind</a>
				</p>
			</form>
		</div>
	</body>
</html>