<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Assignment Added</title>
	</head>
	<body>
		<h1>Assignment Added</h1>
		<p>This assignment was added.</p>
		<p><span class="bold">Name:</span>
			{{! Name Here }}
		</p>
		<p><span class="bold">Score:</span>
			{{! Score Here }}
		</p>
		<p><span class="bold">Total:</span>
			{{! Total Here }}
		</p>
		<p><span class="bold">Completed:</span>
			{{! Completed Here }}
		</p>
		<p><a href="/">See all Assignments</a></p>
	</body>
</html>