<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Assignment Updated</title>
	</head>
	<body>
		<h1>Assignment Updated</h1>
		<p>This assignment has been updated.</p>
		<p><span class="bold">Name: </span>{{assignment.name}}</p>
		<p><span class="bold">Score: </span>{{assignment.score}}</p>
		<p><span class="bold">Total Possible Score:
			</span>{{assignment.possible}}</p>
		<p><span class="bold">Completed: </span>
			{{#if assignment.completed}}
				Yes
			{{else}}
				No
			{{/if}}
		</p>
		<p><a href="/">See all assignments</a></p>
	</body>
</html>