body {
	background-color: slategray;
	margin: 0 auto;
	padding: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a:link,
a:visited {
	color: mediumblue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	background-color: whitesmoke;
	border: 2px solid black;
	box-shadow: 2px 2px 3px black;
	/* display: flex;
	flex-direction: column; */
}
/* table thead tr,
table tbody tr {
	display: flex;
}
table tbody tr + tr {
	border-top: 1px solid lightgray;
	padding: 0;
}
table thead tr th,
table tbody tr td {
	display: flex;
	flex: 1;
	padding: 0.25rem;
	flex-wrap: wrap;
} */

input[type="text"] {
	float: right;
}
input[type="number"] {
	float: right;
}

thead {
	background-color: yellow;
	border-bottom: 3px solid black;
}

th,
td {
	border: none;
	padding: 2px 1rem;
}
tr:nth-child(even) td {
	background-color: #ccf8ff;
}

.columnName {
	max-width: 200px;
}

.columnCenter {
	text-align: center;
}

h1 {
	text-align: center;
}

#container {
	background-color: whitesmoke;
	border-radius: 25px;
	padding: 1rem;
	box-shadow: 5px 5px 10px black;
}

.bold {
	font-weight: bold;
}

.check {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	-webkit-text-fill-color: limegreen;
	text-shadow: 1px 1px 0px black;
}
